:root {
    --secondary-text-color: #212121;
    --secondary-bcg-color: #F5F5F5;
    --accent-color: #2196F3;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* header */

.header {
    background-color: #ffffff;
    text-decoration: none;
}

.header-content,
.footer-content {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.web-content {
    color: var(--accent-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.header-link {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.header-contact a {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* main */

.hero-title,
.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #2F303A;
}

.hero-btn, .button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #2196F3;
    color: #FFFFFF;
}

/* особливості */

.features,
.classes {
    color: var(--secondary-bcg-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.features-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* чим ми займаємося */

.classes-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* наша команда */

.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

.our-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: #757575;
}

/* footer */

.footer {
    background-color: #2F303A;
}

.footer-item a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-items a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}